[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=CPU Mode
Comment=Quickly Switch CPU Governor
Icon=cpu_mode_75
X-XFCE-Module=cpu_mode
X-XFCE-Module-Path=/usr/lib/xfce4/panel/plugins/
X-XFCE-Internal=true
X-XFCE-Unique=false
X-XFCE-API=2.0
